# Environments

.venv
env/
venv/
ENV/
.env

# Data
data*/
*.csv
*.json

# Cache
__pycache__/
logs

# Testing
unit_test.py
*_temp.py
*copy.py
test.*

# Proto files
streaming_pb2.py
streaming_pb2_grpc.py
cut.pth
*.pt
*.pth
*.ckpt
*.onnx
!src/be/checkpoints/vistar23_labels.json
!src/be/checkpoints/vistar23_manifest.json
!src/be/checkpoints/vistar23_felf_seed42_swa.pth
!src/be/checkpoints/vistar23_mt_seed42_swa.pth
.DS_Store

# Scripts
scripts/
*.sh
